---
- name: Créer dossier de config
  file:
    path: /etc/rancher/rke2
    state: directory

- name: Générer le fichier config
  template:
    src: config.yaml.j2
    dest: /etc/rancher/rke2/config.yaml

- name: Configurer les variables d'environnement (Proxy)
  template:
    src: rke2-proxy.j2
    dest: /etc/default/rke2-agent
    mode: '0644'


- name: Installer RKE2 agent
  shell: |
    curl -sfL https://get.rke2.io | \
    INSTALL_RKE2_TYPE=agent \
    INSTALL_RKE2_VERSION=v1.34.3+rke2r3 \
    sh -
  environment:
    HTTP_PROXY: "{{ proxy_url }}"
    HTTPS_PROXY: "{{ proxy_url }}"
    NO_PROXY: "{{ no_proxy_list }}"


- name: Démarrer le service RKE2 agent
  systemd:
    name: rke2-agent
    state: started
    enabled: true
