- name: Générer le fichier values Cilium
  template:
    src: cilium-values.yaml.j2
    dest: /root/cilium.yaml
    mode: '0644'

- name: Installer Cilium
  command: cilium install -f /root/cilium.yaml
  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml
